# WordPress REST API URL na Hostinger
# Substitua pela URL da sua instalação WordPress, por exemplo:
# VITE_WORDPRESS_API_URL=https://cms.seudominio.com.br/wp-json/wp/v2

VITE_WORDPRESS_API_URL=https://cms.arlucas.com.br/wp-json/wp/v2
